.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(120deg, #112466, #86b4e3);
}

.container {
    width: 65%;
    height: 80%;
    background: transparent;
    opacity: 1.2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
}

.form-image {
    flex: 3;
    background-image: url(../../assets/images/login-image.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 5rem;
    margin-top: 10rem;
}

.form-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.form-input {
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #112466;

    input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        color: #ffffff;
        background-color: transparent;
        font-size: 1.7rem;
        padding-left: 3rem;

        &:autofill {
            background-color: transparent;
            box-shadow: transparent; // Đảm bảo màu nền bao phủ toàn bộ input
            -webkit-text-fill-color: #a74949; // Đặt màu chữ
            border-radius: 10px;
        }

        &::placeholder {
            color: #ffffff;
        }
    }

    &:focus-within {
        box-shadow: 0 0 0 2px #ffffff;
    }
}

.form-input + .form-input {
    margin-top: 2rem;
}

.form-inline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.form-checkbox {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        appearance: none;
        background-color: #fff;
        margin-right: 0.5rem;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        border-radius: 0.15em;
        transform: translateY(-0.075em);

        &:checked {
            background-color: currentColor;
            background-size: 100% 100%;
            background-position: center;
            background-image: url(../../assets/images/check.svg);
        }
    }
}

.form-button {
    margin-top: 3rem;
}

.form-button-register {
    margin-top: 1rem;
}
